<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <a class="navbar-brand" [routerLink]="' '">alekseev0950</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav">
       <li class="nav-item active">
         <a class="nav-link" [routerLink]="'/'" style="color: black; font-weight:800;">Главная <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
         <a class="nav-link" [routerLink]="'/group'" style="color:black;">Студенты</a>
       </li>
     </ul>
   </div>
 </nav>