 <hr>
<h4 class="d-flex justify-content-center mt-5 mb-5">Поиск студентов</h4>
<hr>
<div class="row" style="justify-content: center;">
    <div class="col-12 m-2">
        <input type="text" class="form-control" [(ngModel)]="searchStr" placeholder="Искать по ФИО:">
         <input type="text" class="form-control mt-4" [(ngModel)]="searchGroup" placeholder="Искать по группе">
        <button type="button" class="btn btn-warning mr-2 mt-2" (click)="sortId()">Фильтр по id</button>
        <!-- <button type="button" class="btn btn-warning mt-2" (click)="sortBth()">Фильтр по дате рождения</button> -->
        <!-- <select formControlName="department" class="form-control mt-3" id="department"  [(ngModel)]="type" name="type">
               <option [ngValue]="0"></option>
               <option [ngValue]="1">IT</option>
               <option [ngValue]="2">Биология</option>
               <option [ngValue]="3">Спорт</option>
               <option [ngValue]="4">Физика</option>
         </select> -->
      </div>

  <table class="table mb-5 mt-5" ng-app="myApp" ng-controller="orderCtrl">
  <thead>
    <tr>
      <th scope="col">Фамилия</th>
      <th scope="col">Инициалы</th>
      <th scope="col">Группа</th>
      <th scope="col">Направление</th>
      <th scope="col">Редактировать</th>
      <th scope="col">Удалить</th>
    </tr>
  </thead>
  <tbody *ngFor="let person of persons | search: searchStr | group: searchGroup">
    <tr ng-repeat=" in cars | orderBy">
      <td>{{ person.name }}</td>
      <td><p> {{ person.surname.charAt(0) }}. {{person.patronymic.charAt(0)}}.</p> </td>
      <td>{{ person.group }}</td>
      <td> <p class="card-text" *ngIf="person.department === 0">Биология</p>
           <p class="card-text" *ngIf="person.department === 1">Физика</p>
           <p class="card-text" *ngIf="person.department === 2">Спорт</p>
           <p class="card-text" *ngIf="person.department === 3">IT</p>
      </td>
      <td>
        <div class="col-6"><button type="button" class="btn btn-info m-2" (click)="OnEdit(person.id)">Редактировать</button></div>

      </td>
      <td>
        <div class="col-6"><button type="button" class="btn btn-danger m-2" (click)="OnDelete(person.id)">Удалить</button></div>
      </td>
    </tr>

  </tbody>
</table>
</div>
<div class="mymodalout" *ngIf="check">
    <div class="mymodal" >
        <form [formGroup]="editPersonsForm">
            <div class="form-group">
                <label for="name" class="col-form-label">Имя:</label>
                <input formControlName="surname" type="text" class="form-control" placeholder="Даниил" id="name" [(ngModel)]="surname" name="name">
            </div>
            <div class="form-group">
                <label for="surname" class="col-form-label">Фамилия:</label>
                <input formControlName="name" type="text" class="form-control" placeholder="Фамилия" id="surname" [(ngModel)]="name" name="surname">
            </div>
            <div class="form-group">
                <label for="otch" class="col-form-label">Отчество:</label>
                <input formControlName="patronymic" type="text" class="form-control"  placeholder="Отчество" id="otch" [(ngModel)]="otch" name="otch">
            </div>
            <div class="form-group">
                <label for="phone" class="col-form-label">Телефон:</label>
                <input formControlName="phone" type="text" class="form-control" id="phone" [(ngModel)]="phone" name="phone">
            </div>
            <div class="form-group">
                <label for="group" class="col-form-label">Группа:</label>
                <input formControlName="group" type="text" class="form-control" id="group"   placeholder="Группа"[(ngModel)]="group" name="group">
            </div>
            <div class="form-group">
                <label for="email" class="col-form-label">Email:</label>
                <input formControlName="email" type="text" class="form-control" id="email" placeholder="mail@mail.ru" [(ngModel)]="email" name="email">
            </div>
            <div class="form-group">
              <label for="bth" class="col-form-label">Дата рождения:</label>
              <input formControlName="birthday" type="date" class="form-control" id="bth" [(ngModel)]="bth" name="bth">
            </div>
            <div class="form-group">
              <label for="department">Направление подготовки</label>
              <select formControlName="department" class="form-control" id="department" [(ngModel)]="type" name="type">
               <option [ngValue]="myDepartmentType.IT">IT</option>
                <option [ngValue]="myDepartmentType.physics">Биология</option>
                <option [ngValue]="myDepartmentType.sports">Спорт</option>
                <option [ngValue]="myDepartmentType.biology">Физика</option>
              </select>
            </div>
              </form>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="editCheck()">Закрыть</button>
              <button type="button" class="btn btn-danger m-2"  (click)="OnDelete(id)">Удалить</button>
              <button type="button" [disabled]="editPersonsForm.invalid" class="btn btn-info" (click)="saveChanges()">Сохранить Изменения</button>
            </div>

            </div>
</div>




